<% content_for :page_title do %>
  <%= Spree.t(:invoiced_total) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:date_range) %>
<% end %>

<% content_for :table_filter do %>
  <%= render :partial => 'spree/admin/shared/report_invoices_criteria' %>
<% end %>

<% if @invoices.any? %>
  <%== button_link_to Spree.t(:download_csv_report),
    url_for(
      format: :csv,
      "q[created_at_gt]" => @invoices.first.created_at,
      "q[created_at_lt]" => @invoices.last.created_at)
  %>
<% end %>

<table class="admin-report" class="invoice-report">
  <thead>
    <tr>
      <th><%= Spree.t(:invoice_number) %></th>
      <th><%= Spree.t(:invoice_parent) %></th>
      <th><%= Spree.t(:order_number, number: nil) %></th>
      <th><%= Spree.t(:invoice_date) %></th>
      <th><%= Spree.t(:total) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr class="align-center">
        <td><%= invoice.id %></td>
        <td><%= invoice.parent_invoice_id %></td>
        <td><%= invoice.order.number %></td>
        <td><%= pretty_time invoice.created_at %></td>
        <td><%= invoice.total %></td>
        <td><%= link_to Spree.t(:download_invoice), invoice_path(invoice) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

