<% if @order.invoices.size == 1 and can? :read, @order.invoices.first and
  @order.payment_state == 'paid' %>
  <div style="margin-bottom: 18px;">
    <%= link_to Spree.t(:download_invoice), invoice_path(@order.invoices.first) %>
  </div>
<% end %>

