<% content_for :page_actions do %>
  <% if @order.needs_additional_invoice? and can? :create, Spree::Invoice %>
    <%== button_link_to Spree.t(:create_additional_invoice), [:admin, @order, Spree::Invoice.new], method: :post %>
  <% end %>
<% end %>

<%= render 'spree/admin/shared/order_tabs', :current => 'Invoices' %>
<table class="invoices index">
  <colgroup>
    <col style="width: 15%" />
    <col style="width: 50%" />
    <col style="width: 35%" />
  </colgroup>
  <thead>
    <tr>
      <th><%= Spree.t :invoice_number %></th>
      <th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr class="invoice">
        <td class='align-center'><%= invoice.id %></td>
        <td class='align-center'><%= pretty_time(invoice.created_at) %></td>
        <td class='align-center'><%= link_to Spree.t(:download_invoice),
          invoice_path(invoice) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

